#suggest {
  display: block;
  margin: 25px auto 10px;
}

#deck {
  text-align: center;

  #meta {
    overflow: auto;
    text-align: left;

    div {
      float: left;
      margin: 25px 10%;
      width: 30%;
    }
  }

  p {
    margin-bottom: 0;
  }

  .card {
    width: 18%;
    margin: 10px 1%;
    display: inline-block;

    img {
      max-width: 100%;
    }
  }
}
