#suggest {
  display: block;
  margin: 25px auto 10px;
}

#deck {
  text-align: center;

  #meta {
    overflow: auto;
    text-align: center;

    li {
      text-transform: capitalize;
    }

    div {
      display: inline-block;
      vertical-align: top;
      margin: 10px 50px;
      text-align: left;
    }
  }

  p {
    margin-bottom: 0;
  }

  #cards {
    max-width: 1300px;
    margin: 0 auto;

    .card {
      display: inline-block;
      border: none;
      max-width: 225px;
      margin: 10px;

      @media(max-width: 900px){
        max-width: 175px;
      }

      p {
        text-transform: capitalize;
      }
      
      img {
        max-width: 100%;
      }
    }
  }
}


#form {
  #labels {
    text-align: center;

    label {
      text-transform: capitalize;
      margin: 5px 10px;

      input {
        margin-right: 5px;
      }
    }
  }
}
