#suggest {
  display: block;
  margin: 25px auto 10px;
}

#deck {
  text-align: center;

  #meta {
    overflow: auto;
    text-align: center;

    div {
      display: inline-block;
      vertical-align: top;
      margin: 10px 50px;
      text-align: left;
    }
  }

  p {
    margin-bottom: 0;
  }

  .card {
    width: 18%;
    margin: 10px 1%;
    display: inline-block;

    img {
      max-width: 100%;
    }
  }
}
