#nav {
  #nav-inner {
    margin: 10px;

    img {
      height: 55px;
      display: inline-block;
    }

    h1 {
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
      text-transform: uppercase;
    }

    #deck-buttons {
      float: right;
      margin-top: 10px;

      #deck-settings {
        margin-right: 15px;
      }
    }
  }
}
